body {
  background-color: #f9f8f6;
  color: #323232;
}

.artist-name {
  font-size: 28px;
}

.favourite {
  border-color: pink;
}

.favourited {
  color: red;
  border-color: pink;
} 

img {
  width: 50%;
}

.dice {
  margin-top: 20px;
}